body {
    background: url(https://images.unsplash.com/photo-1571497569639-7bd0fcd36c64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: black;
    margin-bottom: 80px;
}

.card  {
    height: 300px;
    margin-bottom: 30px;
}

.sidebar {
    font-size: 50px;
}